body {
    background-color: #18181B;
    overflow-x: hidden;
}

.form-signin input[type="text"] {
    margin-bottom: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.vertical-offset-80 {
    padding-top: 80px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

.panel {
    margin-bottom: 20px;
    background-color: aliceblue;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px white;
    box-shadow: 0 1px 1px red;
}

.linha_usuario {
    display: block;
    margin-top: 10px;
    padding: 5px;
}

.linha_usuario img {
    margin-right: 5px;
    margin-top: -7px;
}

img {
    vertical-align: middle;
}


.participantes {
    margin-top: 70px;
    margin-bottom: 70px;
}

.participante {
    display: block;
    margin-bottom: 15px;
    color: white;
    text-transform: uppercase;
}

.participante img {
    margin-top: -10px;
}

.dialogo {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    padding: 10px;

}

.dialogo h4 {
    font-size: 15px;
    font-weight: bold;
    color: aliceblue;
    text-transform: uppercase;
}

.dialogo p {
    font-size: 12px;
    padding-left: 15px;
    color: aliceblue;
}

.pai {
    display: flex;
    position: center;
}

.filho-direita {
    width: 25%;
    border: 1px solid #333333;
}

.filho-esquerda {
    width: 65%;

}

@media (max-width: 720px) {
    .pai {
        flex-flow: column;
    }

    .filho-direita,
    .filho-esquerda {
        width: 100%;
    }
    #conversa{
        margin-bottom: 40px;

    }
}


#dialogo {
}

.videoElement {
    object-fit: cover;
    position: center;
}

#conversa {
    margin-left: 5px;
    margin-top: 40px;
    max-height: 65vh;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 0px
}

::-webkit-scrollbar-thumb {
    background: #2f0f4d;
    border-radius: 0px
}
