<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- bootstrap - link cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- estilo -->
    <link href="stylesheets/style.css" rel="stylesheet">

    <!--FLV PLAYER-->
    <script src="https://cdn.bootcss.com/flv.js/1.5.0/flv.min.js"></script>

</head>
<body>
<h1>Video Streaming</h1>
<div>
    <video id="videoElement" controls></video>
</div>

<script src="javascripts/videoPlayer.js"></script>
</body>
</html>
